<div class="container">
  <hr />
  <div class="btn-container">
    <button>A</button>
    <button>B</button>
    <button>C</button>
    <button>D</button>
    <button>E</button>
    <button>F</button>
    <button>G</button>
    <button>H</button>
    <button>I</button>
    <button>J</button>
    <button>K</button>
    <button>L</button>
    <button>M</button>
    <button>N</button>
    <button>O</button>
    <button>P</button>
    <button>Q</button>
    <button>R</button>
    <button>S</button>
    <button>T</button>
    <button>U</button>
    <button>V</button>
    <button>W</button>
    <button>X</button>
    <button>Y</button>
    <button>Z</button>
  </div>

  <hr />
  <p *ngIf="loadedContacts.length < 1 && !isFetching">No Contacts avalable!</p>
  <p *ngIf="isFetching && !error">Loading...</p>
  <div class="alert alert-danger" *ngIf="error">
    <h1>An error occured!</h1>
    <p>{{ error }}</p>
  </div>
  <table *ngIf="loadedContacts.length >= 1">
    <thead>
      <tr>
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of loadedContacts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ contact["first-name"] }}</td>
        <td>{{ contact["last-name"] }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td><img [src]="contact.image" alt="" class="img-responsive" /></td>
        <td>
          <button
            class="btn btn-primary"
            (click)="onEditContact(contact.id, i)"
          >
            Edit</button
          ><button
            class="btn btn-danger"
            (click)="onDeleteContact(contact.id, i)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="edit-container" *ngIf="editMode">
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="form-container">
        <h3>Edit Contact</h3>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input
            type="text"
            name="first-name"
            id="first-name"
            [ngModel]="!clearMode ? editContact['first-name'] : ''"
            required
            #firstName="ngModel"
          />
          <span class="help-block" *ngIf="!firstName.valid && firstName.touched"
            >Please enter first name!</span
          >
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input
            type="text"
            name="last-name"
            id="last-name"
            [ngModel]="!clearMode ? editContact['last-name'] : ''"
            required
            #lastName="ngModel"
          />
          <span class="help-block" *ngIf="!lastName.valid && lastName.touched"
            >Please enter last name!</span
          >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            [ngModel]="!clearMode ? editContact['email'] : ''"
            email
            required
            #email="ngModel"
          />
          <span class="help-block" *ngIf="!email.valid && email.touched"
            >Please enter a valid email!</span
          >
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="tel"
            name="phone"
            id="phone"
            [ngModel]="!clearMode ? editContact['phone'] : ''"
            required
            #phone="ngModel"
          />
          <span class="help-block" *ngIf="!phone.valid && phone.touched"
            >Please enter a phone number!</span
          >
        </div>
        <button type="button" class="btn btn-success" (click)="onClear()">
          Clear
        </button>
        <div
          class="clear-container"
          *ngIf="
            editContact.image['changingThisBreaksApplicationSecurity'] ||
            (changedImage && editMode)
          "
        >
          <input
            id="clearImage"
            type="checkbox"
            [checked]="isChecked"
            (change)="onClearImage()"
          />
          <label for="clearImage">clear image too</label>
        </div>
        <img
          *ngIf="
            (editContact.image['changingThisBreaksApplicationSecurity'] &&
              !clearMode) ||
            (changedImage && clearMode && !clearImage) ||
            (clearMode && !clearImage) ||
            (clearImage && !clearMode)
          "
          [src]="isChangingImage ? changedImage : editContact.image"
          alt="No image"
        />
        <div class="form-group">
          <label for="avatar" class="custom-file-upload">
            <input
              #avatar
              type="file"
              id="avatar"
              name="image"
              accept="image/png,
            image/jpeg"
              ngModel
              (change)="onChangeImage($event)"
            />{{
              (editContact.image["changingThisBreaksApplicationSecurity"] &&
                !clearMode) ||
              (changedImage && !clearMode) ||
              (changedImage && clearMode)
                ? "Change Image"
                : "Add Image"
            }}</label
          >
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-submit"
          [disabled]="!f.valid"
        >
          Submit
        </button>
        <button class="btn btn-danger" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
